Q1. Create one variable containing following type of data:

In [5]:
a= 'string in a single quote'
b = "string in a double quote"

print(a)
print(b)
type(a)
type(b)
#we can create string using single quote as well as double quote

string in a single quote
string in a double quote

str

In [6]:
#list of having both integers and strings
c= ["hey","you",1,2,3,"go"]
print(c)
type(c)

['hey', 'you', 1, 2, 3, 'go']

list

In [8]:
#create a variable with float value.
a=10.2345
print(a)
type(a)

10.2345

float

In [11]:
#tuple having multiple type of data.
x=("hello", 1,2,3,"go")
print(x)
type(x)
#prints the whole tuple

('hello', 1, 2, 3, 'go')

tuple


Q2. Given are some following variables containing data:

In [23]:
var1 = ''
type(var1)

str

In [24]:
var2 = '[ DS , ML , Python]'
type(var2)

str

In [25]:
var3 = [ 'DS' , 'ML' , 'Python' ]
type(var3)

list

In [26]:
var4 = 1
type(var4)

int

4.Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [42]:
c= ["hey","you",1,2,3,"go", 1.01," pankaj", 'pwskils',7]
for x in range(len(c)):
    print ((c[x]), type(c[x]))

hey <class 'str'>
you <class 'str'>
1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
go <class 'str'>
1.01 <class 'float'>
 pankaj <class 'str'>
pwskils <class 'str'>
7 <class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [1]:
a=int(input('Enter the value of A' ))
b=int(input('Enter the value of B'))
c=a/b
while a % b == 0:
    print(c)
    break 
else:
    print("Not divisible by")

Enter the value of A 10
Enter the value of B 5

2.0

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [2]:
l=[1,25,63,36,18,72,33,23,24,37,42,27,25,26,21,99,57,97,108,111,125,124,363,666,852]

for i in range(len(l)):
    if l[i] % 3 == 0:
        print("divisible by 3")
    else:
        print("not divisible by 3")

not divisible by 3
not divisible by 3
divisible by 3
divisible by 3
divisible by 3
divisible by 3
divisible by 3
not divisible by 3
divisible by 3
not divisible by 3
divisible by 3
divisible by 3
not divisible by 3
not divisible by 3
divisible by 3
divisible by 3
divisible by 3
not divisible by 3
divisible by 3
divisible by 3
not divisible by 3
not divisible by 3
divisible by 3
divisible by 3
divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable Objects	
A mutable object can be changed after it is created.Examples : List, Set, Dictionary


immutable object
An immutable object cannot be changed after it is created Examples : Tuple

In [4]:
c = ["hey","you",1,2,3,"go", 1.01," pankaj", 'pwskils',7]
c[2]="WE"
c
#This is the example of mutable object/data type

['hey', 'you', 'WE', 2, 3, 'go', 1.01, ' pankaj', 'pwskils', 7]

In [5]:
x=("hello", 1,2,3,"go")
x[2]=7
x
# we can not mutate tuple

TypeError: 'tuple' object does not support item assignment